<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>An #EndSARS Automated Mail sender to Nigerian Leaders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner&display=swap" rel="stylesheet">
    <style type="text/css">
      * {
        font-family: 'Commissioner', sans-serif;
      }
    </style>
  </head>
  <body class="has-background-light" style="height: 100vh !important;">
    <div class="container p-3">
    <br/>
    <h3 class="is-size-4 mb-4 has-text-link"><b>An #EndSARS Automated Mail sender to Nigerian Leaders - <a href="https://hookbin.com/Mq77REwOeRcBKK6OL3zD" class="button">View logs</a></b></h3>
    <div class="mb-4">
      <a href="https://en.wikipedia.org/wiki/End_SARS">About the #EndSARS Movement</a> | <a href="https://endsarz.com">Visit Endsarz.com</a>
    </div>

    <div class="columns">
      <div class="column">
        <div class="box is-shadowless has-text-centered">
          <h5 class="is-size-3 has-text-danger"><i class="fas fa-envelope"></i></h5>
          <p>Auto Sending Email to over 15 Nigeria leaders every 30 minutes</p>
        </div>
      </div>
      <div class="column">
        <div class="box is-shadowless has-text-centered">
          <h5 class="is-size-3 has-text-link"><i class="fas fa-bolt"></i></h5>
          <p>#EndSARS #EndSARSNow #EndPoliceBrutality</p>
        </div>
      </div>
    </div>

    <h5 class="is-size-5 mb-3"><b>Take some actions</b></h5>
    <div class="columns">
      <div class="column">
        <a href="http://twitter.com/intent/tweet?text=&hashtags=EndSARSNow,EndSARS,EndSARSProtests,EndPoliceBrutality" class="button has-background-info has-text-light is-fullwidth"><i class="fab fa-twitter"></i> &nbsp; Tweet #EndSARS</a>
      </div>
      <div class="column">
        <a href="https://www.notion.so/b5632859ff7e4fe09d8cd73880f8aca7?v=6456a7172b9542a0b1487924766eaf7d" class="button has-background-primary has-text-light is-fullwidth"><i class="fas fa-flag"></i> &nbsp;  Join the Protests</a>
      </div>
      <div class="column">
        <a href="https://endsars.vercel.app/politicians" class="button has-background-danger has-text-light is-fullwidth"><i class="fas fa-fire"></i> &nbsp; Remind Politician</a>
      </div>
      <div class="column">
        <a href="https://api.whatsapp.com/send?phone&text=%0A*ATTENTION*%20%E2%80%BC%EF%B8%8F%E2%80%BC%EF%B8%8F%0A%0AWhy%20The%20Special%20Anti%20Robbery%20Squad%20(SARS)%20Must%20be%20Scrapped.%20The%20Special%20Anti%20robbery%20Squad%20is%20a%20unit%20in%20the%20Nigerian%20Police%20Force%20originally%20formed%20to%20combat%20robberies.%20Unfortunately,%20officers%20of%20the%20unit%20who%20mostly%20dress%20in%20mufti%20and%20carry%20Ak%2047%20guns%20in%20unmarked%20cars%20have%20engaged%20in%20several%20cases%20of%20kidnapping,%20murder,%20theft,%20rape,%20torture,%20illegal%20raids,%20unlawful%20arrests,%20highhandedness,%20humiliation,%20unlawful%20detention%20and%20extortion%20(both%20documented%20and%20undocumented).%20%0A%0AThese%20activities%20are%20carried%20out%20under%20the%20pretext%20of%20looking%20for%20thieves%20and%20fraudsters.%20For%20no%20reason%20at%20all,%20many%20innocent%20Nigerians%20have%20been%20killed%20by%20these%20dangerous%20police%20officers.%20Some%20of%20them%20are:%0A%0A%E2%96%AA%EF%B8%8F%20*Remi*,%20killed%20in%20Osogbo,%20September%2015%202020%0A%E2%96%AA%EF%B8%8F%20*Tina%20Ezwkwe*,%2017%20year%20old%20girl,%20killed%20for%20standing%20at%20a%20bus%20stop%20in%20Lagos%20in%202020%0A%E2%96%AA%EF%B8%8F%20*Akinola%20Lasisi*,%2033%20year%20old%20man%20killed%20in%20Sagamu,%20Ogun%20State%0A%E2%96%AA%EF%B8%8F%20*Femi%20Bello*,%20killed%20in%20Nasarawa%20in%202014%0A%E2%96%AA%EF%B8%8F%20*Kolade%20Johnson*,%20who%20was%20killed%20while%20watching%20a%20football%20match%20in%20Lagos%0A%E2%96%AA%EF%B8%8F%20*Tiamiyu%20Kazeem*,%20aka%20Kaka,%20footballer%20at%20Remo%20Stars%20FC,%20killed%20in%20Sagamu,%20Ogun%20State%0A%E2%96%AA%EF%B8%8F%20*Ifeoma%20Abugu*,%20raped%20and%20murdered%20in%20a%20SARS%20Station%20in%202020%0A%E2%96%AA%EF%B8%8F%20*Chibuike%20Anams*,%20killed%20while%20relaxing%20with%20a%20friend%0A%E2%96%AA%EF%B8%8F%20*Christian%20Ugwuoke*,%20killed%20while%20attending%20his%20aunt%E2%80%99s%20wake%20keep%0A%E2%96%AA%EF%B8%8F%20*Aneka%20Okorie*,%20killed%20for%20not%20paying%20bribe%0A%E2%96%AA%EF%B8%8F%20*Ayomide%20Taiwo*,%20killed%20for%20not%20giving%2050%20naira%20bribe%0A%E2%96%AA%EF%B8%8F%20*Godspower%20Edoha*,%20killed%20in%20his%20home%0A%E2%96%AA%EF%B8%8F%20These%20are%20just%20some%20of%20the%20hundreds%20of%20innocent%20Nigerian%20youths%20killed%20by%20SARS%20officers.%0A%0AFor%20many%20years,%20Nigerians%20have%20protested%20and%20written%20petitions%20for%20the%20SRAS%20unit%20to%20be%20scrapped%20but%20nothing%20has%20changed.%20After%20numerous%20failed%20promises%20from%20the%20federal%20Government%20and%20reforms%20that%20did%20not%20change%20anything,%20young%20Nigerians%20are%20protesting%20in%20many%20cities%20and%20the%20protest%20is%20attracting%20international%20attention.%20Nigerians%20in%20the%20Diaspora%20are%20also%20joining%20on%20social%20media.%20%0A%0AWe%20need%20everyone%20to%20join%20us%20this%20time%20around%20so%20that%20this%20unit%20can%20be%20scrapped%20once%20and%20for%20all%20because%20the%20officers%20have%20proven%20that%20they%20are%20beyond%20being%20reformed.%20We%20know%20that%20the%20entire%20force%20needs%20to%20be%20overhauled%20but%20this%20killer%20squad%20must%20go%20first.%20Please%20join%20us%20at%20these%20protests,%20encourage%20us%20with%20your%20voice%20and%20money,%20lobby%20and%20talk%20to%20your%20friends%20in%20power,%20and%20release%20your%20wards%20to%20protest.%20We%20are%20all%20that%20we%20have,%20our%20voices%20must%20be%20heard.%0A%0ASigned,%20Millions%20of%20Nigerian%20Youths%20Protesting%0A%0A%23EndSARS%20%23EndSARSNow%20%23EndSARSProtests%20%23EndSARSBrutality" class="button has-background-success has-text-light is-fullwidth"><i class="fab fa-whatsapp"></i> &nbsp; Broadcast</a>
      </div>
    </div>

    <div class="mt-4">
      <ul>
        <li class="is-size-5 my-4"><b>Resources and copyrights</b></li>
        <li class="mb-3"><b>Email Service</b>: <a href="https://sendgrid.net">Sendgrid free plan</a></li>
        <li class="mb-3"><b>Backend Technology</b>: <a href="https://nodejs.org">Node.js</a></li>
        <li class="mb-3"><b>CSS Framework</b>: <a href="https://bulma.io">Bulma</a></li>
        <li class="mb-3"><b>"Take some actions" Links</b>: <a href="https://endsarz.com">Endsarz.comhttps://github.com/devYusuf/endsars-mail</a></li>
        <li><b>Github</b>: <a href="https://github.com/devYusuf/endsars-mail">https://github.com/devYusuf/endsars-mail</a></li>
      </ul>
    </div>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </body>
  </html>
